.App {
  text-align: center;
}



.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 30px;
  font-weight: 700;
}

.search-area {
  padding: 10px 0px;
}

.search-area input {
  width: 300px;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-area button {
  border: 1px solid #ddd;
  padding: 8px 20px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.gif-item{
  margin-bottom: 10px;
}

.gif-item img {
  width: 100%;
  height: 250px;
}

.user-area {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.user-area img{
  border: 1px solid red;
}

.user-area span {
  font-weight: 700;
  margin-left: 5px;
}